body {
    font : 1rem "Segoe UI" , Roboto Helvetica sans-serif ; 
    line-height: 1.5;
    background: #fdfdfd;
    padding-bottom: 0!important;
}
.pad-top-10{
    padding-top: 10px;
} 
.pad-top-2{
    padding-top: 8rem;
} 
.pad-bottom-10{
    padding-bottom: 10px;
}
.pad-top-15{
    padding-top: 15px;
}
a , a:hover {
    text-decoration: none;
}
.no-decoration:hover {
    color : #000
}
.c-t-a {
    padding-top:2rem;
    padding-bottom: 2rem;
} 
.jara-card {
    height : 350px ;
    border-radius: 3rem;
    border:3px solid #f0f2f3;
    background : #fff;
    display : flex ; 
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.02);
    padding : 10px 20px;
    margin-right: 25px;
}
.border-topline {
    border-top : 8px solid #339!important;
} 

.test-footer {
    position: absolute; 
    padding-top : 1rem;
    bottom : 0;
    left : 0 ; 
    width : 100%;
    height: 30%; 
    background : rgb(238, 235, 235);
}

.relative {
    position: relative;
}
/* .border-bottom-grey {
    border-bottom : 1px solid #ccc;
} */
.brand-name {
  font-weight: 700;
}
.md-nav a , .user-related a {
     color : rgba(0 , 0 , 0 , 0.75);
    font-weight: 350;
    opacity : .85;
    font-size: 1.1rem;
    transition : color 2s; 
    margin-right : 1.45rem;
} 
.md-nav a:hover {
    color : rgb(11, 90, 121);
}
.md-btn-login , .md-btn-register , .md-btn-theme {
    border : 1px solid rgba(0 , 0 , 0 , 0.75) ; 
    color : #000;
    padding: 8px 18px;
    background : #fff;
}
.md-btn-register , .md-btn-register:hover ,   .md-btn-register:focus {
    border: none; 
    background : rgb(221, 151, 19);
    color : #fff!important;
} 
/* a.md-btn-register  , a.md-btn-register :link , a.md-btn-register :hover , a.md-btn-register :visited , a.md-btn-register :focus { 
    color : #fff!important
} */
.md-btn-theme {
    background : #000; 
    color : #fff!important;
} 
.footer-list {
    display : block
  }
  
  .footer-dark {
      background: #4a4d55;
  }
  .footer-dark-light {
    background : rgba(0 , 0 , 0 , 0.85) ; 
  }
.footer-navs h5  , .footer-nav{
    font-size: 1.4rem;
    padding-left: 30px;
    margin-bottom: 1rem!important;
    margin-top: 0;
    cursor: pointer;
    border-left: none;
    font-weight: 500;
  }
.texter {
    display : block;
    text-decoration: none;
    color : #fff ; 
    line-height: 1.7;
    margin-bottom: 1.25rem;
    font-weight: 350;
    padding-left: 30px;
    font-size: .95rem;
}
.bg-register {
    background : #1C3A4B
}
.bg-green {
    background: #038f44;
}
.small-shift {
    margin-bottom : 9px;
    border-radius: 5px;
}
.footer-text h5 {
    color : #fff;
  }
  .footer-text a {
    text-decoration: none;
    color : #fff ; 
    margin-bottom: .95rem;
  }
.footer-navs a,.footer-text a:hover , .footer-text:focus {
    display : block;
    text-decoration: none;
    color : #fff ; 
    line-height: 1.7;
    margin-bottom: 1.25rem;
    font-weight: 350;
    padding-left: 30px;
    font-size: .95rem;
}
 
.footer-navs {
    margin-bottom: 0!important;
}
footer h5 {
    font-size: 1rem;
} 
.d-md-hide .fa {
    font-size : .65rem;
  }
.social a {
    margin-right: 1rem;
    font-size: .9rem;
} 
.hero-title {
    font-weight: 550 ;
    font-size : 2rem;
    margin-bottom: 1rem;
  }
.hero-text {
    font-size : 1.25rem; 
    font-weight: 350;
} 

.course-title {
    border:1px solid #ccc;
    padding : 15px;
}
.course-description {
    font-size:1.3rem
}
.white-solid-border {
    border : 1px solid #fff
} 
.bg-orange {
    background : #ffa500;
}
.bg-pink {
    background:  #339;
}
.dark-blue-solid-border {
    border : 1px solid #339
} 
.blue-text {
    color : rgba(0 , 0 , 255 , 0.65);
}
.bg-blue-dark {
    background : #339;
}
.bg-neutral {
    background: #F1FEF4;
} 
.c-t-a {
    padding-top:2rem;
    padding-bottom: 2rem;
} 
.jara-card {
    height : 350px ;
    border-radius: 10px;
    border:3px solid #f0f2f3;
    background : #fff;
    display : flex ; 
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.02);
    padding : 10px 20px;
    margin-right: 25px;
}
.border-topline {
    border-top : 8px solid #339!important;
} 
.test-footer {
    position: absolute; 
    bottom : 0;
    left : 0 ; 
    width : 100%;
    height: 20%; 
    background : rgb(238, 235, 235);
}
.orange-text {
    color : rgba(255 , 255 , 255 , 0.65); 
}
.border-sorround-grey {
    border : 1px solid #ccc
} 
.cta-wide {
    font-size: 2rem;
}
.flex h5 {
    font-weight: 400;
    font-size: 1.15rem;
}
.flex i {
    color : #ccc
} 

.ribbon-box {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
} 
 .ribbon-box-2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
}
.rotate  , .rotate-2{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    width: 100px;
    display: block;
    background:#000;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    position: absolute;
    top: 19px;
    left: -21px;
} 
.rotate-2 {
    top : 19px ; 
    right : -21px ; 
    width : 140px;
    position : absolute;
    transform: rotate(45deg);
} 
.overlay {
    background : #339 ; 
    position: absolute; 
    width : 100%;
    height: 100%;
    opacity: .45;
} 
.red-text {
    color : #f00;
} 
.border-error-color {  
    border-color: #f00;
    animation : shaking .5s ease 0ms infinite alternate ; 
} 
#started:hover, #learn:hover {
    text-decoration : none;
    color : #000
} 

@keyframes shaking {
    0%{
        transform : translateX(10px)
    }
    100%{
        transform : translateX(0px)
    }
}
.border-good-color {
    border-color: rgb(6, 200, 6);
} 
.border-moderate-color {
    border-color: dodgerblue; 
    animation : shaking .5s ease 0ms infinite alternate ; 
} 
.bg-expertise {
    background : rgba(7, 5, 5, 0.65);
}
@media (max-width : 568px){
    .exp-item {
        /* margin-right : 15px ;  */
        margin-bottom: 2rem;
    }
    .exp-item > figure {
        width : 55%;
    }
}
@media(min-width : 768px){
    .cta-wide {
        font-size: 4rem;
    }
    .w-20 {
        flex : 0 0 20%;
        width : 20%;
        max-width: 20%;
    } 
    .hero-title {
        
        font-size : 5rem;
      
    }
    .p-t-md-4 {
        padding-top: 5rem
    } 
    
    .expert-container {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
    .exp-item {
        flex-basis : 0 0 20%;
        width:20%;
        max-width: 20%;
        margin-bottom : 2rem
    }
    .exp-item > figure {
        width : 35%;
    }
    .exp-item img {
        margin-bottom: .45rem;
    }
}